body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-top: 20px;
}

.logo {
    font-size: 200px;
}

.rotate {
    animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
  }