body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-top: 20px;
}

#boxes {
    height: 116px;
    width: 812px;
    /* padding-right: 10px;
    padding-top: 50px; */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.box {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top:10px;
    float: left;
    transition: all .1s ease;
    border: 3px solid black;
    background-color: #EAEAEA;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:whitesmoke;
}

.playing {
    transform: scale(1.1);
}

.box:hover {
    cursor: pointer;
    border: 3px dashed black;
}

#c {
    background-color:#db1d2d;   
}

#d {
    background-color:#f0421c;   
}

#e {
    background-color:#fec02d;   
}

#f {
    background-color:#20d071;   
}

#g {
    background-color:#1a9ddb;   
}

#a {
    background-color:#a13fad;   
}

#b {
    background-color:#f26fd4;   
}